In [5]:
import feather

In [7]:
ano_detect_train = feather.read_dataframe("D://desktop/In-class contest2/ano_detect_train2.feather")

In [8]:
ano_detect_train.head()

,timestamp,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x58,x59,x60,x61,x62,x63,x64,x65,x66,y_label
0,54,-0.406190,0.550000,1.00,0.998154,0.539320,1.381340,4,1.310345,0.000000,...,1.166665,0.000000,221,0.900000,1.0,3,1.00,1.166665,1.310345,normal
1,89,0.916423,0.032787,0.00,-0.460069,0.750830,0.049665,4,0.030638,0.333333,...,0.041754,0.363622,210,0.649485,0.0,1,0.00,0.041754,0.030638,normal
2,15,-0.567527,0.080000,0.20,0.139726,0.342592,0.144756,4,0.091437,0.210526,...,0.114698,0.032530,212,0.465517,0.2,2,0.20,0.114698,0.091437,normal
3,63,-0.249668,0.333333,0.75,0.379598,0.416503,0.667622,3,0.686788,0.333333,...,0.572710,0.360629,216,0.273973,1.0,2,0.75,0.572710,0.839321,normal
4,75,0.538768,0.038462,1.00,0.574191,0.394564,0.147207,3,0.129822,0.073171,...,0.220971,0.076487,211,0.473684,1.0,3,1.00,0.220971,0.129822,normal

In [13]:
ano_detect_train.shape

(104532, 68)

In [11]:
ano_detect_test = feather.read_dataframe("D://desktop/In-class contest2/ano_detect_test2.feather")

In [12]:
ano_detect_test

,timestamp,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x57,x58,x59,x60,x61,x62,x63,x64,x65,x66
0,163,0.450394,inf,0.214286,0.976268,0.480289,1.167811,4,1.211195,0.260000,...,0.477477,0.818018,0.289429,213,0.414141,0.00,2,0.186699,0.818018,1.211195
1,95,0.566660,0.062500,0.000000,0.941472,0.161229,0.123323,4,0.085309,0.000000,...,0.247216,0.267339,0.000000,210,0.115385,0.00,2,0.000000,0.267339,0.085309
2,204,1.485823,0.285714,0.000000,0.662313,0.062314,0.670646,4,0.695587,0.022857,...,0.096639,0.804309,0.010770,215,0.034286,0.00,3,0.000000,0.804309,0.695587
3,76,0.111283,0.000000,0.285714,0.718520,0.380065,0.178316,1,0.212629,0.214286,...,0.412162,0.164652,0.205346,215,0.314815,0.25,2,0.230616,0.164652,0.212629
4,117,0.546859,0.021978,1.000000,0.987409,0.995944,0.087974,1,0.066121,0.982533,...,0.997546,0.157350,0.994569,211,1.000000,1.00,1,1.000000,0.157350,0.097440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44795,95,1.006966,0.041667,0.000000,-0.157802,0.381224,0.126328,2,0.090722,0.000000,...,0.424242,0.086290,0.000000,210,0.370968,0.00,2,0.000000,0.086290,0.090722
44796,37,0.145671,0.000000,1.000000,0.576591,1.000000,0.073663,4,0.000000,1.000000,...,1.000000,0.000000,1.000000,215,1.000000,1.00,2,1.000000,0.000000,0.000000
44797,14,-0.357565,0.136364,0.100000,-0.231902,0.651254,0.096888,4,0.125368,0.272727,...,0.683908,0.422906,0.200154,217,0.646552,0.10,2,0.100000,0.422906,0.125368
44798,47,0.000000,0.275862,0.166667,0.360178,0.600559,0.164721,4,0.108253,0.065217,...,0.642857,0.133286,0.058494,211,0.587302,0.00,2,0.126582,0.133286,0.108253
44799,115,0.564971,0.214286,0.100000,0.995293,0.551691,0.262083,3,0.269776,0.145455,...,0.701923,0.588659,0.172065,217,0.607143,0.00,3,0.100423,0.588659,0.269776

In [15]:
ano_detect_test.shape

(44800, 67)

In [14]:
ano_detect_test.describe()

,timestamp,x1,x2,x3,x4,x5,x6,x8,x9,x10,...,x54,x55,x57,x58,x59,x61,x62,x64,x65,x66
count,44800.000000,44800.000000,4.480000e+04,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,...,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000,44800.000000
mean,80.086473,0.297884,inf,0.419818,0.578248,0.514675,0.343634,0.322357,0.341806,0.514671,...,0.021325,0.389279,0.543536,0.358949,0.341317,0.517004,0.475247,0.417306,0.358888,0.328114
std,52.039272,1.091338,NaN,0.406560,0.462671,0.266248,0.391175,0.391972,0.356684,0.266251,...,0.331503,0.378402,0.253582,0.381735,0.360878,0.274645,0.449807,0.410586,0.381714,0.387792
min,9.000000,-2.866365,0.000000e+00,0.000000,-1.000000,0.000123,0.000000,0.000000,0.000000,0.000123,...,-4.304071,0.001989,0.002110,0.000000,0.000000,0.000378,0.000000,0.000000,0.000000,0.000000
25%,37.000000,-0.336458,5.263158e-02,0.032258,0.368023,0.311170,0.101236,0.084490,0.046202,0.311170,...,0.000000,0.135846,0.355286,0.106634,0.041436,0.304348,0.000000,0.023583,0.106553,0.089199
50%,75.000000,0.000000,1.333333e-01,0.258065,0.761712,0.501255,0.180545,0.153846,0.200000,0.501255,...,0.000000,0.231578,0.530120,0.190205,0.191982,0.495935,0.300000,0.248813,0.190247,0.164171
75%,106.000000,0.654525,2.962963e-01,1.000000,0.930467,0.697528,0.383072,0.349908,0.545455,0.697528,...,0.000000,0.539185,0.713900,0.521447,0.565508,0.707865,1.000000,1.000000,0.521378,0.361088
max,220.000000,18.330383,inf,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,15.231686,2.449490,1.000000,2.449490,1.000000,1.000000,1.000000,1.000000,2.449490,2.000000